.nav-container{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0px, 10px;
    margin-top:10px ;
    margin-right: 40px;
    position: relative;
}
.left-link{
    width: 30%;
    display: flex;
    justify-content: space-between;

}
.right-link{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.samsung-logo{
    overflow: hidden;
    width: 10%;
}
.text{
    font-family: 'SamsungOne',arial,sans-serif;
    color: #333;
    font-weight: 500;
}
