<div class="nav-container">
        <div class="samsung-logo">
            <img src="../../../assets/samsung-logo.png" alt=" samsung logo">
        </div>
        <div class="links">
                <div class="left-link text">
                    <p>Mobile</p>
                    <p>TV & AV</p>
                    <p>Home Appliance</p>
                    <p>IT</p>
                    <p>Offers</p>
                </div>
                <div class="right-link text">
                    <p>Support</p>
                    <p>For Business</p>
                    <i class="fas fa-search fa-2x"></i>
                    <i class="fa-solid fa-user fa-2x"></i>
                </div>
        </div>
</div>
<div class="mobile-content">
    <app-dropdown>
        <p></p>
    </app-dropdown>
</div>
